.logo_size {
  width: 300px;
  height: 300px;
  margin-top: 10%;
  margin-bottom: 5%;
}
.background_contact {
  background-color: rgb(226, 240, 217);
  height: 100vh;
  padding-top: 10%;
  box-shadow: 5px 10px 18px #888888;
  padding-bottom: 5%;
}
.tex_slogan {
  font-size: 170%;
  color: rgb(123, 0, 0);
}
.text_contact {
  font-size: 500%;
  color: rgb(123, 0, 0);
  font-weight: bold;
}
.padTop {
  padding-top: 5%;
}
.map_size {
  margin-left: 10%;
  width: 70%;
  height: 100%;
}
.text_black {
  font-size: 200%;
  color: rgb(32, 45, 92);
  font-weight: bold;
  margin-left: 20%;
  display: contents;
}
.image_size {
  width: 70%;
  height: 80%;
}
.iconLine {
  width: 80%;
  height: 80%;
}
