.card {
  height: 100%;
  display: "flex";
  flex-direction: "column";
}
.bg {
  background-color: rgb(167, 208, 230);
  height: 100%;
  padding-top: 8%;
  padding-bottom: 5%;
}
.cardMedia {
  padding-top: 90%;
}
.cardContent {
  flex-grow: 1;
}
.sub-name {
  font-size: 2em;
  text-decoration: underline;
  margin-left: 3%;
}
.box {
  margin-left: 3%;
  margin-right: 3%;
}
.color {
  width: 180vh;
  padding: 2%;
  background-color: rgb(48, 248, 248);
  height: 100%;
}

.bg-my {
  background-color: rgb(167, 208, 230);
  height: 100%;
  padding-top: 8%;
  padding-bottom: 3%;
}

.t-my {
  font-size: 4em;
  text-decoration: underline;
  text-align: center;
}
.sub-name-new {
  font-size: 1em;
  text-decoration: underline;
}
.add {
  margin-top: 4%;
  font-size: xx-large;
  background-image: url(./images/add_course.png);
  background-color: Transparent;
  background-repeat: no-repeat;
  width: 180px;
  height: 70px;
  background-size: 100%;
  color: rgb(255, 255, 255);
  border: none;
  overflow: hidden;
  outline: none;
}
